<div class='cell'>
  <div class='user_avatar'>
    <a href="/user/<%= topic.author.name %>">
      <img src="<%= topic.author.avatar_url %>" title="<%= topic.author.name %>" />
    </a>
  </div>

  <div class='topic_wrap'>
    <div class='title_wrap'>
      <span class="view-count"><%= topic.visit_count %></span>
      <!--<%- partial('tag/tag_in_abstract',{collection:topic.tags, as:'tag'}) %>-->
		<% var _thistag=""; %>
		<% for(var _ii=0;_ii<topic.tags.length;_ii++){ %>
			<% if(_ii==0){ %>
				<% var _thistag="【" + topic.tags[0].name + "】"; %>
			<% } %>
		<% } %>
      <a class='topic_title' href='/topic/<%= topic._id %>'>
        <% if(topic.top){%>
          <span class='put_top'>置顶</span>
          <% } %>
        <%= _thistag %>
        <%= topic.title %>
      </a><br />
    </div>
    <div class="detail">
      <% var ret = (topic.content.match(/\>\s*(.+)(?=(\r|\n|$))/g)); %>
      <% if (ret) { %>
        <% if (ret[0]) { %>
          <% ret1=ret[0].split("> ")[1] %>
          <p class="desc"><%= ret1 %></p>
        <% } %> 
      <% } %> 
      <% if(topic.face != ""){ %>
      <p class="face"><img width="200" style="margin:5px;" onload="this.removeAttribute('width');this.width=this.width>200?200:auto;" src="<%= topic.face %>" /></p>
      <% } %>
    </div>
    <% if (topic.reply_count > 0) { %>
      <a class='count fr' href="/topic/<%= topic._id %>#reply<%= topic.reply_count %>"><%= topic.reply_count %></a>
    <% } %>
    <div class='sep10'></div>
    <div class='sep5'></div>
    <span class='col_fade'>
      <!-- <div class='name_part'>
        <a class='dark' href='/user/<%= topic.author.name %>'><%= topic.author.name %><%= (topic.author.nick_name?'(' + topic.author.nick_name + ')':"") %></a> 
      </div> 
      <div class='click_part'>
        点击数 <%= topic.visit_count %>
      </div>
      -->
      <% if(topic.reply){  %>
        <div class='reply_part'>
          <a class='dark' href="/user/<%= topic.reply.author.name %>"><%= topic.reply.author.name %><%= (topic.author.nick_name?'(' + topic.author.nick_name + ')':"") %> </a>
          回复于
          <%= topic.reply.friendly_create_at %>
        </div>
      <% }else{ %>
        <a class='dark' href="/user/<%= topic.author.name %>"><%= topic.author.name %><%= (topic.author.nick_name?'(' + topic.author.nick_name + ')':"") %> </a>
        <div class='reply_part'>
          创建于 <%= topic.friendly_create_at %>
        </div>
      <% } %>
    </span>
  </div>
</div>